/* General */
:root {
  font-family: 'Courier New', Courier, monospace; /* Retro font */
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 16px;
  background-color:  #d394a6; /**#be9b7b;**/
  background-image: url(backg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  overflow-y: scroll; 
}

    .top {
      display: flex;;
      margin: 40px;
      margin-bottom: 0px;
    }

    /**img {
      position: sticky;
      max-width: 10px;
    }**/

    h1 {
      font-size: 100px;
      width: 100%;
      text-align: center;
      color: aliceblue;
      text-shadow: 
    -2px -2px 0  #b75d76,  /* Top-left */
     2px -2px 0  #b75d76,  /* Top-right */
    -2px  2px 0  #b75d76,  /* Bottom-left */
     2px  2px 0  #b75d76;  /* Bottom-right */
    }

  /* Below */
  .hidden {
      display: none;
    }
  
    .box {
      justify-content: space-evenly;
      display: flex;
      text-align: center;
      padding: 20px;
      background-color: rgba(226, 192, 217, 0.523);
      margin: 10%;
      border-radius: 50px;
    }
    
  /* form styling */
  .login {
      width: 360px;
    }

    .submit_user {
      outline: 0;
      background: #fff4e6;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #3c2f2f;
      font-size: 17px;
      cursor: pointer;
    }
    .submit_user:hover{
      background-color:  #d394a6;

    }
    
    form {
      position: relative;
      z-index: 1;
      background: #e17896;
      max-width: 360px;
      margin: 0 auto 100px;
      padding: 45px;
      text-align: center;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      border-radius: 20px;
      font-size: 18px;
      color: #f2f2f2;
      float: inline-start;
    }
    
    form input {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
      border-radius: 10px;
    }
    
    .login_user {
      justify-content: space-around;
    }

    .loginuser {
      outline: 0;
      background: #fff4e6;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #3c2f2f;
      font-size: 17px;
      cursor: pointer;
    }

    .loginuser:hover {
      background-color:  #d394a6;
    }
    
    .createuser {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #050505;
      font-size: 14px;
      cursor: pointer;
    }
    
    form #loginbutton:hover,.form #loginbutton:active,.form #loginbutton:focus {
      background: #C3CBCE;
    }
  
    #loginbutton {
      font-size: 18px;
    }
    
    #createAccount {
      font-size: 20px;
    }
    
    .hiddentext {
      color: #29333C;
    }


    /* Success popup */
    #successOverlay {
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
  }
  
  #successPopup {
      position: fixed;
      z-index: 1000;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color:  #d394a6;
      padding: 30px;
      border-radius: 30px;
      box-shadow: 0 0 10px 3c2f2f(0, 0, 0, 0.3);
      display: none;
  }
  
  #closeSuccess {
      position: absolute;
      top: 10px;
      right: 20px;
      color: #fff4e6;
      cursor: pointer;
      font-size: 30px;
  }
  